@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

.Message {
    box-sizing: border-box;
    width: 35%;
    margin: 0 auto;
    padding: 5px 0px;
    background-color: #d5d5d5;
    color: #6d7993;
    font-family: 'Roboto Slab', serif;
    font-size: 29px;
    text-align: center;
    border-radius: 10px;
}

.Message p {
    margin: 8px 0px;
}

@media only screen and (max-width: 420px) {
    .Message {
        width: 90%;
        font-size: 21px;
    }

    .Message p {
        margin: 5px 0px;
    }
}

@media only screen and (min-width: 421px) and (max-width: 767px) { 
    .Message {
        width: 85%;
        font-size: 25px;
    }

    .Message p {
        margin: 6px 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1099px) { 
    .Message {
        width: 50%;
    }
}